Source: x11proto-dri3
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Build-Depends:
 debhelper (>= 8),
 dh-autoreconf,
 quilt,
 xutils-dev (>= 1:7.5~1),
 pkg-config,
Standards-Version: 3.9.2
Vcs-Git: git://git.debian.org/git/pkg-xorg/proto/x11proto-dri3
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/proto/x11proto-dri3.git

Package: x11proto-dri3-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: foreign
Description: X11 DRI3 extension wire protocol
 This package provides development headers describing the wire protocol
 for the DRI3 extension, providing mechanisms to translate between direct
 rendered buffers and X pixmaps.  In conjunction with the Present extension,
 they provide a complete direct rendering solution for OpenGL or other APIs.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 .
 This package is built from the X.org dri3proto proto module.
